# 每个节点一个 [名称] 段。名称仅允许字母/数字/. _ -
# 用 proxyctl 管理：proxyctl node add / edit / remove / enable / disable / list
[JP-HY2]
SERVER=203.0.113.10
PORT=443
PASSWORD=CHANGE_ME_PASSWORD
OBFS_PASSWORD=CHANGE_ME_OBFS
SNI=www.bing.com
ENABLED=true

[SG-HY2]
SERVER=198.51.100.20
PORT=443
PASSWORD=CHANGE_ME_PASSWORD
OBFS_PASSWORD=CHANGE_ME_OBFS
SNI=www.bing.com
ENABLED=true
